{% extends "base.html" %}

{% block content %}

<h1 class="text-center">Загрузка чата</h1>
<form action="/upload" method="post" enctype="multipart/form-data" class="text-center my-5">
    <input type="file" name="file" class="form-control mb-3" required>
    <button type="submit" class="btn btn-primary">Загрузить</button>
</form>

<h3>Или введите ваш ключ доступа</h3>
<form method="post" action="/load">
    <label>Введите ключ:</label>
    <input type="text" name="key" required>
    <button type="submit">Перейти</button>
  </form>
{% endblock %}
